body {
background-image: url('bg.png');
background-size: cover;
background-attachment: fixed;
font-size: 0.9em;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin: 0;
}

.opener{
	font-size: 30px;
	width: 300px;
	height: 300px;
	background-color: #fff;
	color: #cecbe7;
	/* display: block; */
	position: absolute;
	border-radius: 100%;
	line-height: 300px;
	color: #999;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	left: 10%;
	top: 50%;
	transform: translateY(-50%);
	transition:  all 1s;
}
.opener:hover{
	background-color: black;
	letter-spacing: 30px;
	text-indent: 30px;
}
.window{
	width: 500px;
	height: 300px;
	background-image: url('modal-bg.png');
	border: 5px solid black;

	position: absolute;
	left: 50%;
	top: 50px;
	transform:  translate(-50%, 50%);

	transition:  top 1.4s ease-out;
}
.window .open {
	top: 50%;
	/* display: block; */
}

.window h1{
	color: #333;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.9);
	height: 100px;
	line-height: 100px;
	border-radius: 1px  solid #dadada;
}

.window .button-set{
	position: relative;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	text-align: center;
	padding: 10px 0;

}

.window  .button-set  a{
	background-color: red;
	border:  1px solid #fbb804;
	color: #fbb804;
	text-decoration: none;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;

}
.window  .button-set  a:hover {
	background-color: rgba( 251,184,4,0.2);
}


/*
	3. body에 백그라운드 이미지를 붙여주세요.
	서체는 arial, 서체 크기는 0.9em

	4. 버튼요소를 꾸며주세요.

	5. 버튼Hover시를 꾸며주세요.

	6. 팝업창을 만들어주세요.

	7. .window.open일때의 css를 작성하세요.
*/
